#{extends 'main.html' /}
#{set title:'CREANDO AUTORES' /}

<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <br>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 text-center well">
            <h1>Actualizacion de Autores</h1>
        </div>
    </div>

     <div class="row-fluid">
        <div class="span4">
            
        </div>

        <div class="span4">

            #{form @Autores.postUpdate("${autor.id}",nombre,apellido,edad,mail)}

                <p>
                    <legend>Su Nombre: </legend>
                    <input type="text" name="nombre" id="nombre" value="${autor.nombre}" requiered/>
                </p>
                <p>
                    <legend>Su apellido: </legend>
                    <input type="text" name="apellido" id="apellido" value="${autor.apellido}" requiered/>
                </p>
                <p>
                    <legend>Su edad: </legend>
                   <input type="text" name="edad" id="edad" value="${autor.edad}" requiered/>
                </p>
                 <p>
                    <legend>Su Correo </legend>
                   <input type="text" name="mail" id="mail" value="${autor.mail}" />
                </p>
                <p>
                    <button type="submit"  class="btn btn-warning"><i class="icon-ok"></i> Guardar</button>
                </p>
            #{/form}
         </div>

        <div class="span4">
            
        </div>
    </div>
</div>